<div class="container">
  <div class="row">
    <div class="col-6"><br><br>
  <h4>
  <br>ようこそ、ながのCAKEへ！</br>
  <br>このサイトは、ケーキ販売のECサイトになります。</br>
  <br>会員でない方も商品の閲覧は出来ますが、</br>
  <br>購入には会員登録が必要になります</br>
  </h4>
    </div>
  </div><br>
<h2>新着商品</h2>
<% @items.last(4).each do |item| %>
  <%= link_to items_path(item.id), data: {"turbolinks" => false} do %>
    <% if item.image.attached? %>
      <%= image_tag item.image, size: "200x100" %><br>
    <% else %>
      <%= image_tag 'no_image', size: "200x100" %><br>
    <% end %><br>
    <%= item.name %><br>
    ¥<%= item.price.to_s(:delimited, delimiter: ',') %><br>
  <% end %>
<% end %>
<%= link_to '全ての商品を見る>', items_path %>
</div>
