<h2>さんの会員情報編集</h2>

<table border="1">

<%= form_with model: @customer,url:customers_update_path do |f| %>
<tr>
  <td>
    会員ID
  </td>
</tr>

<tr>
  <td>氏名</td>
  <td></td>
</tr><div class="field">
      <%= f.label :sunname %>
      <%= f.label :name %>
    </div><br>

<tr>
  <td>カナ</td>
  <td><div class="field">
      <%= f.label :sunname_kana %>
      <%= f.label :name_kana %>
    </div><br>
</td>
</tr>

<tr>
  <td>郵便番号</td>
  <td><div class="field">
      <%= f.label :postal_code %>
    </div><br></td>
</tr>

<tr>
  <td>住所</td>
  <td> <div class="field">
      <%= f.label :address %>
    </div><br></td>
</tr>

<tr>
  <td>電話番号</td>
  <td><div class="field">
      <%= f.label :telephone_number %>
    </div><br>
</td>
</tr>

<tr>
  <td>メールアドレス</td>
  <td><div class="field">
      <%= f.label :email %>
    </div><br>
</td>
</tr>
</table>
<% end %>