<h3><%= @customer.sunname %><%= @customer.name %>さんの会員詳細</h3>
<br>


<table class="table">
  <tr>
     <td>会員ID</td>
    <div class="col-md-10">
     <td><%= @customer.id %></td>
    </div>
  </tr>

<tr>
  <td>氏名</td>
  <div class="col-md-10">
  <td><%= @customer.sunname %><%= @customer.name %></td>
  </div>
</tr>

<tr>
  <td>カナ</td>
  <td><%= @customer.sunname_kana %><%= @customer.name_kana %></td>
</tr>

<tr>
  <td>郵便番号</td>
  <td><%= @customer.postal_code %></td>
</tr>

<tr>
  <td>住所</td>
  <td><%= @customer.address %></td>
</tr>

<tr>
  <td>電話番号</td>
  <td><%= @customer.telephone_number %></td>
</tr>

<tr>
  <td>メールアドレス</td>
  <td><%= @customer.email %></td>
</tr>


<tr>
  <td>会員ステータス</td>
  <td><% if @customer.is_deleted == true %>
<span>　<strong><i class="text-secondary">退会済</i></strong>
<% else @customer.is_deleted == false %>
<strong><i class="text-success">有効</i></span></strong>
<% end %></td>
</tr>
</table>
<%= link_to "編集する", admin_customers_edit_path(params[:id]) %>


