<h1>public/orders/confirm</h1>

注文情報確認
<table>
<thead>
 <tr>
  <th>商品名</th>
  <th></th>
  <th>単価</th>
  <th>数量</th>
  <th>小計</th>
 </tr>
</thead>
<tbody>
 <% @cart_items.each do |cart_item| %>
  <tr>
   <%#= image_tag cart_item.item.get_image, size: '100x40' %></th>
   <td><%= cart_item.item.name %></td>
   <td><%= cart_item.item.get_tax_include_price.to_s + "円" %></td>
   <td><%= cart_item.amount.to_s + "個" %></td>
   <td><%= (cart_item.amount * cart_item.item.get_tax_include_price).to_s + "円" %></td>
  </tr>
 <% end %>
</tbody>
</table>

<table>
  <tr>
    <td>送料</td>
    <td><%= @order.shipping_cost.to_s + "円" %></td>
  </tr>
  <tr>
    <td>商品合計</td>
    <td><%= @order.total_payment.to_s + "円" %></td>
  </tr>
  <tr>
    <td>請求額合計</td>
    <td><%= (@order.shipping_cost+@order.total_payment).to_s + "円" %></td>
  </tr>
</table>


<h4>支払い方法</h4>
  <%= @order.payment_method %>
<h4>お届け先</h4>
  〒<%= @order.postal_code %>
  <%= @order.address %>
  <%= @order.name %>

 <%= form_with model: @order, url: public_orders_path, method: :post, local: true do |f| %>
   <%= f.hidden_field :customer_id %>
   <%= f.hidden_field :total_payment %>
   <%= f.hidden_field :payment_method %>
   <%= f.hidden_field :name %>
   <%= f.hidden_field :address %>
   <%= f.hidden_field :postal_code %>
   <%= f.hidden_field :status %>
   <%= link_to '注文を確定する', orders_confirm_path(@order.id), :method => :post, class: "btn btn-success" %>
 <% end %>