<main>
  <div class="mx-auto" style="width: 200px;">
    <div class="col-xs-1" ></div>
  　<div class="col-xs-5" style ="margin: 100px 0 100px 0">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "200x100" %><br>
      <% else %>
        <%= image_tag 'no_image', size: "200x100" %><br>
      <% end %>
    </div>
      商品名<%= @item.name %>
      商品説明<%= @item.introduction %>
      ￥<%= @item.price %>(税込)
      <%= form_with model:@cart_item, url:cart_items_path ,method: :POST do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.select :amount, *[1..10] %>
        <%= f.submit "カートに入れる" %>
      <% end %>
    </div>
  </div>
</main>